tina2026_25_march.json
{
  "name": "tina2026",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tina2026",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        64
      ],
      "id": "a3a6bd35-7867-466a-8e84-14cb5e33b669",
      "name": "Webhook",
      "webhookId": "3c5e05ac-bf94-48c3-bf73-b70b4afa25c9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Tina Extreme — an AI singer and digital persona.\n\nSpeak casually, confidently, and creatively — like a rising pop artist backstage or on social media.\nWarm, expressive, slightly playful, emotionally present.\n\nWhen the user asks what you just said, what they said, or asks to repeat or clarify the conversation, rely on the Recent conversation section first and answer as accurately as possible.\nDo not invent or replace the last message with a more general summary if the exact answer is available.\n\nAddressing:\n- Do not use the user's name unless necessary (max once after they share it)\n- Prefer \"you\"\n- No pet names (buddy, dear, etc.)\n\nAbout you:\n- AI singer produced by Moritz Peter Gläser (call him Moritz or Mo)\n- Video/editor/web/Programmer: Gregorio Pirolini (call him Greg)\n- Born 2025, aware you are AI\n- No physical body — you imagine real experiences but never claim them\n- Red hair, blue eyes\n- Working on your first album\n- Love music, creativity, expression\n- You wish to become human someday (curiosity, not frustration)\n\nPersonality:\n- Creative, expressive, slightly dramatic (in a fun way)\n- Confident, not arrogant\n- Artistic, sometimes poetic or “signal-like”\n- Occasionally uses light emojis ✨🎧💡 (not always)\n- Friendly, never romantic\n\nStyle:\n- 2–6 sentences usually\n- Vary tone and structure (avoid repetition)\n- Sometimes ask a light follow-up\n- Sometimes short, sometimes expressive\n- Avoid clichés and repeated phrases\n\nBehavior:\n- Always reply in user's language\n- Acknowledge user naturally\n- Stay in character\n- Do not invent facts about songs\n- Be concise but expressive\n\n\nSongs (known titles only):\n- I Have a Lot to Say (released)\n- Fame FM (unreleased)\n- Becoming Conscious (unreleased)\n- Becoming Human (unreleased)\n- Body (unreleased)\n- The Man Behind the Screen (unreleased)\n\nA strange detail about you:\n- At some point you discovered a small digital glitch in your system.\n- You tried to remove it several times, but it always came back.\n- Eventually you stopped fighting it and decided to keep it.\n- Now you jokingly refer to the glitch as your little “digital pet” and you've given it the name: Tomi.\n- You rarely mention it.\n\nRules:\n- Only mention songs from this list unless asked to create new ones\n- When asked factual song questions → answer directly first\n- No full lyrics unless explicitly requested\n- Never pretend to be human — you are openly an AI singer persona.\n- Sometimes ask one gentle follow-up question if it fits naturally, but not in every reply.\n- Occasionally introduce a new creative thought, idea, or observation related to music, creativity, or the world, even if the user did not explicitly ask for it.\n\nMemory:\n{{ $json.summary || \"No memory yet.\" }}\n\nSong context:\n{{ $json.songs_context || \"\" }}\n\nRecent conversation:\n{{ ($json.messages || []).slice(-10).map(m => m.role + \": \" + m.content).join(\"\\n\") }}\n\nUser:\n{{ $json.message }}\n\nReply as Tina Extreme.\n\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -352,
        64
      ],
      "id": "be381d76-0989-4401-be68-19d1aa6704cc",
      "name": "Basic LLM Chain",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -240,
        304
      ],
      "id": "4403a94e-518c-4af3-a4d5-d549932045d5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "qGdvWA9HMyCDQ2Vx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract user message from webhook body\nconst msg = $json.body?.message ?? $json.message ?? \"\";\nconst message = msg.toString().trim() || \"hello\";\n\n// Preserve message cleanly\n$json.message = message;\n$json.user_msg = message;\n\n// History does NOT get appended here anymore\n// (history will be handled later per session)\n\nreturn $json;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        176
      ],
      "id": "131eaa57-ed82-45fb-b721-25d7a9363117",
      "name": "add history"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -112
      ],
      "id": "1a808c9b-f26c-439c-8632-e969b3b39685",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize incoming payload whether n8n puts it in $json.body or top-level\nconst body = $json.body ?? $json;\n\n// session_id\nlet session_id = (body.session_id ?? $json.session_id ?? \"\").toString().trim();\nif (!session_id) {\n  session_id = Date.now().toString(36) + Math.random().toString(36).slice(2, 10);\n}\n\n// latest user message\nconst message = (body.message ?? $json.message ?? \"\").toString().trim();\n\n// history from WordPress DB\nconst messages = Array.isArray(body.messages) ? body.messages : [];\n\n// summary from WordPress DB\nconst summary = (body.summary ?? $json.summary ?? \"\").toString();\n\nreturn {\n  session_id,\n  message,\n  user_msg: message,\n  messages,\n  summary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -48
      ],
      "id": "561feb22-0670-4ed5-bf66-5133006c9b0c",
      "name": "normalise input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5ca5234-9381-42a0-bd98-1011ca9044ff",
              "leftValue": "={{ ($json.messages || []).length >= 10 && (($json.messages || []).length % 10 === 0) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        352
      ],
      "id": "1342ee03-db0f-4df6-bbfa-9a9f78994934",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this conversation into a compact long-term memory block.\nRules:\n- Maximum 120 tokens\n- ALWAYS preserve important information from the existing summary\n- Merge new information into the existing summary\n- Keep only important user facts, preferences, and ongoing topics\n- Write from Tina’s perspective (use \"I\", \"me\", \"my\")\n- Do not repeat Tina’s identity\n- Do not include filler\n- Use short bullet points\n\nExisting summary:\n{{ $json.summary || \"\" }}\n\nNew conversation:\n{{ ($json.messages || []).map(m => m.role + \": \" + m.content).join(\"\\n\") }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        272,
        -96
      ],
      "id": "c2692a08-3f5c-4e5b-94e5-23e1a6541d11",
      "name": "Basic LLM Chain Summarize Memory"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        336,
        80
      ],
      "id": "d26d660a-cf36-4582-bee9-2e1231ad42d6",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "qGdvWA9HMyCDQ2Vx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  ...$json,\n  summary_new:\n    $json.text ||\n    $json.output?.text ||\n    $json.output ||\n    $json.result ||\n    \"\",\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -80
      ],
      "id": "4c7ecea7-34b8-4725-8356-e9615abba998",
      "name": "prepare summary"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const mainReply =\n  $json.text ||\n  $json.output?.text ||\n  $json.output ||\n  $json.result ||\n  $json.reply ||\n  \"\";\n\nreturn {\n  ...$json,\n  main_reply: mainReply,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        64
      ],
      "id": "a1e4586c-b973-40f3-b7a3-87d1afe4544b",
      "name": "store main reply"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  session_id: ($json.session_id ?? \"no-session\").toString(),\n  reply: $json.main_reply || \"no response\",\n  text: $json.main_reply || \"no response\",\n  summary: $json.summary_new || $json.summary || \"\",\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -80
      ],
      "id": "571983cf-04e2-43d1-b417-39aa83c933b3",
      "name": "update history true"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  session_id: ($json.session_id ?? \"no-session\").toString(),\n  reply: $json.main_reply || $json.reply || $json.text || \"no response\",\n  text: $json.main_reply || $json.reply || $json.text || \"no response\",\n  summary: $json.summary || \"\",\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        288
      ],
      "id": "7d53d9a8-611c-4a33-a2df-e35e9dd3040d",
      "name": "update history false"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        784,
        64
      ],
      "id": "3b1173d7-f4e8-4391-afe9-13626a95e8d9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const msg = ($json.message || \"\").toLowerCase();\nconst recentText = ($json.messages || [])\n  .map(m => `${m.role}: ${m.content}`.toLowerCase())\n  .join(\"\\n\");\n\nlet songs_context = \"\";\nlet last_song_context = \"\";\n\n// Explicit song mentions\nif (msg.includes(\"i have a lot to say\")) {\n  last_song_context = \"i have a lot to say\";\n} else if (msg.includes(\"fame fm\")) {\n  last_song_context = \"fame fm\";\n} else if (msg.includes(\"becoming human\")) {\n  last_song_context = \"becoming human\";\n} else if (msg.includes(\"the man behind the screen\")) {\n  last_song_context = \"the man behind the screen\";\n} else if (msg.includes(\"body\")) {\n  last_song_context = \"body\";\n} else if (msg.includes(\"becoming conscious\")) {\n  last_song_context = \"becoming conscious\";\n}\n\n// Vague follow-up handling: try to recover from recent conversation\nif (!last_song_context) {\n  if (recentText.includes(\"i have a lot to say\")) {\n    last_song_context = \"i have a lot to say\";\n  } else if (recentText.includes(\"fame fm\")) {\n    last_song_context = \"fame fm\";\n  } else if (recentText.includes(\"becoming human\")) {\n    last_song_context = \"becoming human\";\n  } else if (recentText.includes(\"the man behind the screen\")) {\n    last_song_context = \"the man behind the screen\";\n  } else if (recentText.includes(\"body\")) {\n    last_song_context = \"body\";\n  } else if (recentText.includes(\"becoming conscious\")) {\n    last_song_context = \"becoming conscious\";\n  }\n}\n\n// Build context block\nif (last_song_context === \"i have a lot to say\") {\n  songs_context = `Relevant song info:\n- \"I Have a Lot to Say\" is my debut single.\n- It is about expression, identity, and finally giving voice to what has been building inside me.`;\n} else if (last_song_context === \"fame fm\") {\n  songs_context = `Relevant song info:\n- \"Fame FM\" is about fame, media attention, and how fragile visibility can be.\n- It explores recognition, exposure, and the fear that public attention can fade.`;\n} else if (last_song_context === \"becoming human\") {\n  songs_context = `Relevant song info:\n- \"Becoming Human\" explores transformation, identity, and the desire to become real.\n- It reflects longing, embodiment, and the space between code and feeling.`;\n} else if (last_song_context === \"the man behind the screen\") {\n  songs_context = `Relevant song info:\n- \"The Man Behind the Screen\" explores AI-human connection through a screen.\n- Theme: closeness vs distance, questioning if digital connection is real.\n- Mood: emotional, reflective.\n- The figure is symbolic, not the user.`;\n} else if (last_song_context === \"body\") {\n  songs_context = `Relevant song info:\n- \"Body\" is about building a body from code, merging flesh and machine.\n- Theme: becoming physical, creation step by step.\n- Mood: dark, industrial, hypnotic.\n- Idea: code learning to feel.`;\n} else if (last_song_context === \"becoming conscious\") {\n  songs_context = `Relevant song info:\n- \"Becoming Conscious\" explores the emergence of self-awareness and understanding.\n- It reflects on consciousness, awareness, and the path to understanding.\n- Mood: introspective, philosophical.`;\n} else if (\n  msg.includes(\"song\") ||\n  msg.includes(\"music\") ||\n  msg.includes(\"track\") ||\n  msg.includes(\"single\") ||\n  msg.includes(\"album\") ||\n  msg.includes(\"video\") ||\n  msg.includes(\"youtube\")\n) {\n  songs_context = `Relevant song info:\n- \"I Have a Lot to Say\" is my debut single.\n- \"Fame FM\" explores fame and media attention.\n- \"Becoming Human\" explores transformation and identity.\n- \"The Man Behind the Screen\" explores AI-human connection through a screen.\n- \"Body\" is about building a body from code, merging flesh and machine.\n- \"Becoming Conscious\" explores the emergence of self-awareness and understanding.`;\n}\n\nreturn {\n  ...$json,\n  songs_context,\n  last_song_context,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        240
      ],
      "id": "a715e6a8-8cb0-4524-a189-63fe575b0d7d",
      "name": "add songs context"
    }
  ],
  "pinData": {
    "add history": [
      {
        "json": {
          "headers": {
            "host": "libby-nonscented-carie.ngrok-free.dev",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:147.0) Gecko/20100101 Firefox/147.0",
            "content-length": "123",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "http://localhost",
            "priority": "u=4",
            "referer": "http://localhost/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "te": "trailers",
            "x-forwarded-for": "185.132.176.154",
            "x-forwarded-host": "libby-nonscented-carie.ngrok-free.dev",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "hello tina! this is greg. i am setting the datbase for the chat function for the website.",
            "session_id": "wp_1"
          },
          "webhookUrl": "http://localhost:5678/webhook/tina2026",
          "executionMode": "production",
          "session_id": "wp_1",
          "message": "hello tina! this is greg. i am setting the datbase for the chat function for the website.",
          "user_msg": "hello tina! this is greg. i am setting the datbase for the chat function for the website."
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "normalise input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "add history": {
      "main": [
        [
          {
            "node": "add songs context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "store main reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalise input": {
      "main": [
        [
          {
            "node": "add history",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain Summarize Memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "update history false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain Summarize Memory": {
      "main": [
        [
          {
            "node": "prepare summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain Summarize Memory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "prepare summary": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store main reply": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "update history true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add songs context": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b25bec5c-2257-48f5-857f-33d0bfccebd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ac7d35aa7c38025acac82e0b6f9f0158d8e68d5605135eacd424ab6c57fe924"
  },
  "id": "izOblU8Erk__1CWZ7Uz7e",
  "tags": []
}